

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/homepage.css' %}" type = "text/css"/>
    <title>{% block title %}Radio anketa{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
 
  
  </head>

  <body>
	
    <div class="container" style="background-color:white;">
      <div class="header bg-default">
        <ul class="nav nav-pills bg-default pull-right">
          <li class="active"><a href="/">Home</a></li>
		  <li><a href="/blog">Ankete</a></li>
          <li><a href="/about">O nama</a></li>
          <li><a href="/contact">Kontakt</a></li>	  
        </ul>
        <h3 class="text-muted"><span class="glyphicon glyphicon-headphones"></span> RADIO ANKETA</h3>
		<br>
      </div>
	  
		{% if user and not user.is_anonymous %}
			<li>
		   <a>Hello {{ user.get_full_name|default:user.username }}!</a>
		 </li>
		 <li>
		   <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
		 </li>
		  {% block main %}
		  {% endblock %}
		{% else %}	 
			 <div class="jumbotron">
        <h1 style="text-align:center;">Dobrodošli na Radio Quizz !</h1>
        <div class="omb_login">
    	<h3 class="omb_authTitle">Prijavite se :)</h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Twitter</span>
		        </a>
	        </div>	
        	<div class="col-xs-4 col-sm-2">
		        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>	
		</div>
		<br>
<br>
<br>		
		{% endif %}
	  <!-- LOGIN END -->

      <div class="row marketing">
        <div class="col-lg-6">
          <h4><span class="glyphicon glyphicon-stats"></span> Ankete u tijeku</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Istekle ankete</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
	  <br>
	  <br>
		<hr>
      <div class="footer" id="kontakt">
	  <h3 style="text-align:center;"><span class="glyphicon glyphicon-envelope"></span> Kontaktirajte nas</h3>
	  <br>
	  <div class="col-md-6 col-md-offset-3">
		 <form id="contact-form" method="post" action="contact.php" role="form">

		<div class="messages"></div>

		<div class="controls">

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="form_name">Firstname *</label>
						<input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="form_lastname">Lastname *</label>
						<input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="form_email">Email *</label>
						<input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="form_phone">Phone</label>
						<input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
						<div class="help-block with-errors"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="form_message">Message *</label>
						<textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="col-md-12">
					<input type="submit" class="btn btn-success btn-send" value="Pošalji">
				</div>
			</div>
			
		</div>

	</form>
	
	</div>
	<div class="col-md-12">
	  <hr>
        <p style="text-align:center">&copy; Vito Radovniković i Lara Čatipović, 2016.</p>
      </div>
	 </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>